:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --banner-color: #2f303a;
  --white-color: #fff;
  --black-color: #000;
  --bluelite-color: #2196f3;
  --btnhover-color: #0b79d3;
  --bckgrnd-color: #f5f4fa;
  --border-bottom-color: #ececec;
  --border-card-color: #eee;
  --main-font-family: "Roboto", sans-serif;
  --additional-font-family: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font-family);
  color: var(--primary-color);
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  outline:  1px solid tomato;
}
.header-page {
  border-bottom: 1px solid var(--border-bottom-color);
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0;
  max-height: 80px;
}

.link-nav {
  display: flex;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 32px 0;
  gap: 50px;
}

.link-contacts {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 30px;
}



.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.contacts {
  font-style: normal;
}

.link-logo {
  font-family: var(--additional-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-decoration: none;
  margin-right: 93px;
  padding: 24px 0 25px 0px;
}

.link-logo > span {
  color: var(--bluelite-color);
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-decoration: none;
}
.link:hover {
  color: var(--bluelite-color);
}

.link:focus {
  color: var(--bluelite-color);
}

.link-contacts .link {
  color: var(--secondary-color);
}

.link-contacts .link:hover {
  color:var(--bluelite-color);
}

.link-contacts .link:focus {
  color: var(--bluelite-color);
}

.hero {
  background-color: var(--banner-color);
  color: var(--white-color);
  margin-top: 0;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


.hero-heading {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 200px 452px 0;
    
}

.hero-btn {
  display: flex;
  background-color: var(--bluelite-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  border: none;
  padding: 10px 32px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 200px;
  
 }
.hero-btn:hover {
  background-color: var(--btnhover-color);
}

.advantages {
  display: flex;
  padding-top: 94px;
  gap: 30px;
}

.points {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
 }

.description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 118px;
}

.our-job-heading {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.our-job-items {
  display: flex;
  justify-content: space-between;
  max-height: 294px;
  padding-bottom: 94px;
  
}

.our-team {
  background-color: var(--bckgrnd-color);
}

.our-team-heading {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03;
  text-align: center;
  padding-top: 94px;
  margin-bottom: 50px;
}

.our-team-workers {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}

.our-team-worker {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.position {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.page-bottom {
  background-color: var(--banner-color);
  max-width: 1600px;
  margin: 0 auto;
}

.page-footer {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 60px;
}

.location {
  margin-bottom: 9px;
}

.link-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.location .link-bottom {
  color: var(--white-color);
}

.link-bottom {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-decoration: none;
}

.link-bottom:hover {
  color: var(--bluelite-color);
}

.link-bottom:focus {
  color: var(--bluelite-color);
}

.link-logo-bottom {
  font-family: var(--additional-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
  display: inline-block;
  padding-top: 60px;
}

.link-logo-bottom > span {
  color: var(--bluelite-color);
}

.btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
  margin-bottom: 50px;
  background-color: rgb(122, 64, 185);
}

.btn {
  background-color: var(--bckgrnd-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}



.btn:hover {
  background-color: var(--bluelite-color);
  color: var(--white-color);
}

.btn:focus {
  background-color: var(--bluelite-color);
  color: var(--white-color);
}

.portfolio {
  background-color:aqua;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  /* flex-basis: calc((100%-60)/3); */
  background-color: rgb(250, 215, 215);
}

.portfolio-list-item {
  background-color: var(--white-color);
  border: 1px solid var(--border-card-color);
}

.our-works   {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.work-type {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}





